@import "./base.css";

/* app样式 */
#app {
  min-height: 100vh;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  line-height: 1.8; /* 更改默认的行距 */
  letter-spacing: 1.5px; /* 更改默认的字符间距 */
  background-color: #272727;
  word-spacing: 1px; /* 更改默认的词间距 */
  scroll-behavior: smooth; /* 平滑滚动 */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 去除a标签的样式 */
a {
  text-decoration: none !important;
}

/* 去除input样式 */
input {
  border: none;
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--font-gray);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover-bg-1);
}

/* 隐藏 */
[hidden] {
  display: none !important;
}
